pre.source {
  width: 100%;
  height: 300px;
}

pre {
  background-color: #EAE1CC;
}

pre code {
  background-color: inherit;
}

code {
  background-color: #EAE1CC;
}

.Output {
}

.Output-Console {
  list-style-type: circle;
  padding-left: 18px;
}

.Output-Console-Entry {
  white-space: pre;
  font-family: monospace;
}

.Output-Result:hover, .Output-Console-Entry:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Output-Result {
  white-space: pre;
  font-family: monospace;
  margin-left:18px;
  position: relative;
}

.Output-Result::before {
  content: '➜';
  position: absolute;
  left: -18px;
}

.Tabs-names {
  padding-left: 0;
  list-style-type: none;
}

.Tabs-name {
  padding-left: 0;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  background: #eaeaea;
}

.Tabs-name--active {
  padding-left: 0;
  background-color: #d7d7ff;
}
